.container {
  padding: 10px;
  max-width: 1200px;
  margin: 0 auto;
}

h1,
h2 {
  margin: 8px 0;
}

.route-details {
  font-size: 18px;
}

.positive {
  color: green;
}

.negative {
  color: red;
}

.visited-green {
  background-color: #4caf50; /* Green background */
  color: white; /* White text for contrast */
}

.margin-top-30 {
  margin-top: 30px;
}

/* Mobile adjustments */
@media (max-width: 600px) {
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 24px;
  }

  .route-details {
    font-size: 18px;
  }

  li {
    padding: 8px 0;
  }

  mat-form-field {
    width: 80px;
  }
}
