@if (!isLoadingLegs) {
<h1>
  Leg: {{ activeLegId }} | {{ calculateTimeDifference(legs[activeLegId - 1]) }}
</h1>
<h2>Remaining:</h2>
<h2>
  Total: {{ getTotalTravelDistance() }}m | {{ getTotalTravelTime() }} |
  {{ getTotalIncludedPoints() }}p
</h2>
}

<h2>Included: {{ sortedIncludedBonuses.length }}</h2>
@if (isLoadingBonuses) {
<div>Loading bonuses...</div>
} @if (!isLoadingBonuses) {
<ul>
  @if (sortedIncludedBonuses.length) { @for (bonus of sortedIncludedBonuses;
  track bonus.BonusCode) {
  <li>
    <label>
      <input
        type="checkbox"
        [checked]="bonus.Include"
        (change)="updateBonusInclude(bonus, $event.target.checked)"
      />
      <input
        type="checkbox"
        [checked]="bonus.Visited"
        (change)="updateBonusVisited(bonus, $event.target.checked)"
      />
      Visited
      {{ bonus.BonusName }} ({{ bonus.Points }} points) - {{ bonus.City }},
      {{ bonus.State }} -
      <a
        [href]="getGoogleMapsUrl(bonus)"
        target="_blank"
        rel="noopener noreferrer"
      >
        Maps
      </a>
      |
      <a [href]="getWazeUrl(bonus)" target="_blank" rel="noopener noreferrer">
        Waze
      </a>
      @if (getRouteForBonus(bonus)) {
      <span>
        (From previous: {{ getRouteForBonus(bonus).travelTimeMinutes }} min,
        {{ getRouteForBonus(bonus).distanceMiles }} miles)
      </span>
      }
      <button
        [disabled]="isUpButtonDisabled(bonus)"
        (click)="moveBonusUp(bonus)"
      >
        ↑
      </button>
      <button
        [disabled]="isDownButtonDisabled(bonus)"
        (click)="moveBonusDown(bonus)"
      >
        ↓
      </button>
    </label>
  </li>
  } } @else {
  <p>No included bonuses available.</p>
  }
</ul>
}

<h2>Available: {{ sortedNotIncludedBonuses.length }}</h2>
@if (isLoadingBonuses) {
<div>Loading bonuses...</div>
} @if (!isLoadingBonuses) {
<ul>
  @if (sortedNotIncludedBonuses.length) { @for (bonus of
  sortedNotIncludedBonuses; track bonus.BonusCode) {
  <li>
    <label>
      <input
        type="checkbox"
        [checked]="bonus.Include"
        (change)="updateBonusInclude(bonus, $event.target.checked)"
      />
      {{ bonus.BonusName }} ({{ bonus.Points }} points) - {{ bonus.City }},
      {{ bonus.State }} -
      <a
        [href]="getGoogleMapsUrl(bonus)"
        target="_blank"
        rel="noopener noreferrer"
      >
        Maps
      </a>
      |
      <a [href]="getWazeUrl(bonus)" target="_blank" rel="noopener noreferrer">
        Waze
      </a>
    </label>
  </li>
  } } @else {
  <p>No not included bonuses available.</p>
  }
</ul>
}

<h2>Settings</h2>
<div>Active Leg</div>
@if (!isLoadingLegs) {
<div>
  @for (leg of legs; track leg.Leg) {
  <label>
    <input type="radio" [value]="leg.Leg" [(ngModel)]="activeLegId" />
    Leg {{ leg.Leg }}
  </label>
  }
</div>
}
