<!-- src/app/app.component.html -->
@if (!isLoadingLegs) {
<h1>{{ calculateTimeDifference(legs[activeLegId - 1]) }}</h1>
}

<h2>Legs</h2>
@if (isLoadingLegs) {
<div>Loading legs...</div>
} @if (!isLoadingLegs) {
<p>Legs Count: {{ legs.length }}</p>
<ul>
  @if (legs.length) { @for (leg of legs; track leg.Leg) {
  <li>
    Leg {{ leg.Leg }} (ID: {{ leg.LegId }}) - Checkpoint:
    {{ leg.CheckpointTime | date }} - Time Remaining:
    {{ calculateTimeDifference(leg) }}
  </li>
  } } @else {
  <p>No legs available.</p>
  }
</ul>
}

<h2>Bonuses</h2>
@if (isLoadingBonuses) {
<div>Loading bonuses...</div>
} @if (!isLoadingBonuses) {
<p>Bonuses Count: {{ bonuses.length }}</p>
<ul>
  @if (bonuses.length) { @for (bonus of bonuses; track bonus.BonusCode) { @if
  (bonus.Leg == activeLegId) {
  <li>
    {{ bonus.BonusName }} ({{ bonus.Points }} points) - {{ bonus.City }},
    {{ bonus.State }} -
    <a
      [href]="getGoogleMapsUrl(bonus)"
      target="_blank"
      rel="noopener noreferrer"
    >
      Maps</a
    >
    |
    <a [href]="getWazeUrl(bonus)" target="_blank" rel="noopener noreferrer">
      Waze</a
    >
  </li>
  } } } @else {
  <p>No bonuses available.</p>
  }
</ul>
}

<h2>Settings</h2>
<div>Active Leg</div>
@if (!isLoadingLegs) {
<div>
  @for (leg of legs; track leg.Leg) {
  <label>
    <input type="radio" [value]="leg.Leg" [(ngModel)]="activeLegId" />
    Leg {{ leg.Leg }}
  </label>
  }
</div>
}
